<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example"/>

    <!-- Определение бина сервиса -->
    <bean id="adminService" class="org.example.services.AdminServiceImpl">
        <property name="roleDAO" ref="roleDAO"/>
        <property name="groupDAO" ref="groupDAO"/>
        <property name="userDAO" ref="userDAO"/>
        <property name="studentDAO" ref="studentDAO"/>
        <property name="lecturerDAO" ref="lecturerDAO"/>
    </bean>

    <bean id="roleDAO" class="org.example.DAO.RoleDAOImpl"/>
    <bean id="groupDAO" class="org.example.DAO.GroupDAOImpl"/>
    <bean id="userDAO" class="org.example.DAO.UserDAOImpl"/>
    <bean id="studentDAO" class="org.example.DAO.StudentDAOImpl"/>
    <bean id="lecturerDAO" class="org.example.DAO.LecturerDAOImpl"/>

</beans>
