<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>mysql</param-value>
    </context-param>

    <!-- Конфигурация DispatcherServlet -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/servlet-context.xml
            </param-value> <!-- Путь к файлу конфигурации Spring -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Mapping для DispatcherServlet -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern> <!-- DispatcherServlet будет обрабатывать все запросы -->
    </servlet-mapping>

</web-app>
